{% extends "base.html" %} {% block title %} Search Books | {{ super() }} {% endblock %} {% block stylesheets %}
<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css" rel="stylesheet" />
{% endblock %} {% block content %}
<div class="p-4">
  <!-- Search bar -->
  <form method="get" class="border-dark-subtle flex w-full rounded-full border-2 border-solid border-blue-700 p-1" id="search-form">
    <!-- Dropdown -->
    <select class="block rounded-full border-0 px-4 text-sm text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-700 sm:leading-6 lg:text-base" name="type" id="search-type">
      <!-- ... -->
      <option value="name">Name</option>
      <option value="email">Email</option>
      <option value="phone">Phone</option>
    </select>
    <input type="text" placeholder="Search" name="query" id="search-query" class="block w-full rounded-full border-0 text-sm text-gray-900 focus:ring-0 lg:text-base" />
    <button type="submit" class="hidden min-h-full rounded-full bg-blue-700 px-8 font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-1 focus:ring-blue-300 dark:bg-blue-700 dark:hover:bg-blue-700 dark:focus:ring-blue-800 lg:block">
      Search
    </button>
  </form>

  <!-- Mobile search button -->
  <button
    type="button"
    onclick="$('#search-form').submit()"
    class="mt-2 block h-10 w-full rounded-full bg-blue-700 px-8 font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-1 focus:ring-blue-300 dark:bg-blue-700 dark:hover:bg-blue-700 dark:focus:ring-blue-800 lg:hidden"
  >
    <i class="fa-solid fa-magnifying-glass mr-2"></i>Search Members
  </button>

  <!-- END Search bar -->

  <!-- Add/Import Member (text button) -->
  <div class="mt-5 mb-3 flex items-center justify-center">
    <a class="font-bold text-blue-700" href="/members/new">Add Member</a>
  </div>
  <!-- END Add/Import Member -->

  <!-- Messages -->
  {% include "partials/flash_messages.html" %}
  <!-- END Messages -->

  <!-- Members list -->
  <table id="members_list_table" class="display" style="width: 100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone No</th>
        <th>E-mail ID</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for member in members %}
      <tr>
        <td>{{ member.id }}</td>
        <td>{{ member.name }}</td>
        <td>{{ member.phone }}</td>
        <td>{{ member.email }}</td>
        <td class="flex space-x-2">
          <!-- Edit button -->
          <a href="/members/{{ member.id }}/edit" class="rounded-full bg-blue-700 px-3 py-1 text-sm font-normal text-white hover:bg-blue-800 focus:outline-none focus:ring-1 focus:ring-blue-300 dark:bg-blue-700 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <i class="fa-solid fa-edit text-sm"></i> Edit
          </a>
          <!-- Delete button -->
          <a href="/members/{{ member.id }}/delete" class="rounded-full bg-red-700 px-3 py-1 text-sm font-normal text-white hover:bg-red-800 focus:outline-none focus:ring-1 focus:ring-red-300 dark:bg-red-700 dark:hover:bg-red-700 dark:focus:ring-red-800">
            <i class="fa-solid fa-trash text-sm"></i> Delete
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone No</th>
        <th>E-mail ID</th>
        <th>Actions</th>
      </tr>
    </tfoot>
  </table>
</div>
{% endblock %} {% block javascript %}
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<style></style>
<script>
  $(document).ready(function () {
    $("#members_list_table").DataTable({
      responsive: true,
      searching: false,
    });
  });

  window.addEventListener(
    "load",
    function () {
      checkQueryParams();
    },
    false,
  );

  // From query params find info about search and fill the values
  function checkQueryParams() {
    const urlParams = new URLSearchParams(window.location.search);
    const query = urlParams.get("query");
    const type = urlParams.get("type");
    if (query && type) {
      searchUsed = true;
      searchBasedOn = type;
      searchQuery = query;
      $("#search-query").val(query);
      $("#search-type").val(type);
    } else {
      searchUsed = false;
    }
  }
</script>
{% endblock %}
