{% for book in books %}
<!-- Card -->
<div class="w-full p-2 lg:w-1/5">
  <div class="w-full rounded-lg border border-gray-200 bg-white shadow">
    <div class="h-[200px] max-h-[200px] min-w-full overflow-hidden">
      <img class="h-full w-full rounded-t-lg object-cover" src="/static/media/{{ book.cover_image }}" alt="" />
    </div>
    <div class="p-4">
      <div class="mb-4">
        <a class="block w-full overflow-hidden text-clip whitespace-nowrap text-lg font-bold tracking-tight text-gray-900">{{ book.title }}</a>
        <a class="block w-full overflow-hidden text-clip whitespace-nowrap font-normal text-gray-700">By {{ book.authors }}</a>
        <a class="font-normal text-gray-700">ISBN: {{ book.isbn }}</a>
      </div>
      {% if book.available_copies == 0 %}
      <button class="mb-2 w-full rounded-lg border-2 border-red-200 bg-white py-2 text-sm font-medium text-red-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-200 lg:text-base" disabled>Not Available</button>
      {% else %}
      <button
        class="mb-2 w-full rounded-lg border-2 border-gray-200 bg-white py-2 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-200 lg:text-base"
        onclick="openIssueBookModal('{{ book.id }}', '{{ book.available_copies }}')"
      >
        Issue book
      </button>
      {% endif %}
      <button class="w-full rounded-lg bg-blue-700 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 lg:text-base" onclick="viewBookDetails('{{ book.id }}')">View Details</button>
    </div>
  </div>
</div>
<!-- END card -->
{% endfor %}
