@tailwind base;
@tailwind components;
@tailwind utilities;

input::file-selector-button {
  margin-right: 20px;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

@layer components {
  .alert {
    @apply relative rounded border px-4 py-3;
  }
  .alert-success {
    @apply border-green-400 bg-green-100 text-green-700;
  }
  .alert-warning {
    @apply border-yellow-400 bg-yellow-100 text-yellow-700;
  }
  .alert-danger {
    @apply border-red-400 bg-red-100 text-red-700;
  }

  .nav-link-active {
    @apply block rounded bg-blue-700 py-2 pl-3 pr-4 text-white md:bg-transparent md:p-0 md:text-blue-700 md:dark:text-blue-500;
  }

  .nav-link-inactive {
    @apply block rounded py-2 pl-3 pr-4 text-gray-900 hover:bg-gray-100 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:p-0 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:bg-transparent md:dark:hover:text-blue-500;
  }
}
