<!doctype html>
<html lang="en" class="h-full bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width= , initial-scale=1.0" />
    <title>Books Page</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <script src="https://kit.fontawesome.com/3a3ee716b6.js" crossorigin="anonymous"></script>
  </head>

  <body class="h-full lg:p-4 mx-auto max-w-screen-xl">
    <!-- Navbar -->
    <nav class="border-gray-200 bg-white dark:bg-gray-900">
      <div class="flex flex-wrap items-center justify-between p-4">
        <a href="#" class="flex items-center">
          <img src="/static/img/logo-512.png" class="mr-3 h-8" alt="Flowbite Logo" />
          <span class="self-center whitespace-nowrap text-2xl font-semibold dark:text-white">Geenie</span>
        </a>
        <div class="flex items-center md:order-2">
          <button type="button" class="mr-3 inline-flex cursor-pointer items-center justify-center rounded-lg bg-gray-100 px-4 py-2 text-sm font-medium text-gray-900 hover:bg-gray-200 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white">
            <i class="fa-solid fa-gear mr-2"></i>
            Settings
          </button>
          <button
            data-collapse-toggle="navbar-language"
            type="button"
            class="inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 md:hidden"
            aria-controls="navbar-language"
            aria-expanded="false"
          >
            <span class="sr-only">Open main menu</span>
            <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
            </svg>
          </button>
        </div>
        <div class="hidden w-full items-center justify-between md:order-1 md:flex md:w-auto" id="navbar-language">
          <ul class="mt-4 flex flex-col rounded-lg border border-gray-100 bg-gray-50 p-4 font-medium dark:border-gray-700 dark:bg-gray-800 md:mt-0 md:flex-row md:space-x-8 md:border-0 md:bg-white md:p-0 md:dark:bg-gray-900">
            <li>
              <a href="#" class="block rounded bg-blue-700 py-2 pl-3 pr-4 text-white md:bg-transparent md:p-0 md:text-blue-700 md:dark:text-blue-500" aria-current="page">Books</a>
            </li>
            <li>
              <a
                href="#"
                class="block rounded py-2 pl-3 pr-4 text-gray-900 hover:bg-gray-100 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:p-0 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:bg-transparent md:dark:hover:text-blue-500"
                >Transactions</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block rounded py-2 pl-3 pr-4 text-gray-900 hover:bg-gray-100 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:p-0 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:bg-transparent md:dark:hover:text-blue-500"
                >Members</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block rounded py-2 pl-3 pr-4 text-gray-900 hover:bg-gray-100 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:p-0 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:bg-transparent md:dark:hover:text-blue-500"
                >Reports</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block rounded py-2 pl-3 pr-4 text-gray-900 hover:bg-gray-100 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:p-0 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:bg-transparent md:dark:hover:text-blue-500"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="p-4">
      <!-- Search bar -->
      <div class="border-dark-subtle flex w-full rounded-full border-2 border-solid border-blue-700 p-1">
        <!-- Dropdown -->
        <select class="block rounded-full border-0 px-4 text-sm text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-700 sm:leading-6 lg:text-base">
          <!-- ... -->
          <option>Title</option>
          <option>Author</option>
          <option>ISBN Code</option>
          <option>Description</option>
        </select>
        <input type="text" placeholder="Search" class="block w-full rounded-full border-0 text-sm text-gray-900 focus:ring-0 lg:text-base" />
        <button
          type="button"
          class="hidden min-h-full rounded-full bg-blue-700 px-8 font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-1 focus:ring-blue-300 dark:bg-blue-700 dark:hover:bg-blue-700 dark:focus:ring-blue-800 lg:block"
        >
          Search
        </button>
      </div>
      <!-- Mobile search button -->
      <button
        type="button"
        class="mt-2 block h-10 w-full rounded-full bg-blue-700 px-8 font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-1 focus:ring-blue-300 dark:bg-blue-700 dark:hover:bg-blue-700 dark:focus:ring-blue-800 lg:hidden"
      >
        <i class="fa-solid fa-magnifying-glass mr-2"></i>Search Books
      </button>
      <!-- END Search bar -->

      <!-- Books -->
      <div class="mt-5 flex flex-wrap items-center">
        <!-- Card -->
        <div class="m-2 w-full rounded-lg border border-gray-200 bg-white shadow dark:border-gray-700 dark:bg-gray-800 lg:w-1/5">
          <a href="#">
            <img class="rounded-t-lg object-cover" src="https://flowbite.com/docs/images/blog/image-1.jpg" alt="" />
          </a>
          <div class="p-4">
            <div class="mb-4">
              <a href="#" class="text-lg font-bold tracking-tight text-gray-900 dark:text-white">Physics Book Class 8</a>
              <br />
              <a class="font-normal text-gray-700 dark:text-gray-400">By Debobroto Sarkar</a><br />
              <a class="font-normal text-gray-700 dark:text-gray-400">ISBN: 9348939642</a><br />
            </div>
            <button
              class="mb-2 w-full rounded-lg border-2 border-gray-200 bg-white py-2 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700 lg:text-base"
            >
              Issue book
            </button>
            <button
              class="w-full rounded-lg bg-blue-700 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 lg:text-base"
            >
              View Details
            </button>
          </div>
        </div>
        <!-- END card -->

        <!-- Card -->
        <div class="m-2 w-full rounded-lg border border-gray-200 bg-white shadow dark:border-gray-700 dark:bg-gray-800 lg:w-1/5">
          <a href="#">
            <img class="rounded-t-lg object-cover" src="https://flowbite.com/docs/images/blog/image-1.jpg" alt="" />
          </a>
          <div class="p-4">
            <div class="mb-4">
              <a href="#" class="text-lg font-bold tracking-tight text-gray-900 dark:text-white">Physics Book Class 8</a>
              <br />
              <a class="font-normal text-gray-700 dark:text-gray-400">By Debobroto Sarkar</a><br />
              <a class="font-normal text-gray-700 dark:text-gray-400">ISBN: 9348939642</a><br />
            </div>
            <button
              class="mb-2 w-full rounded-lg border-2 border-gray-200 bg-white py-2 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700 lg:text-base"
            >
              Issue book
            </button>
            <button
              class="w-full rounded-lg bg-blue-700 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 lg:text-base"
            >
              View Details
            </button>
          </div>
        </div>
        <!-- END card -->

        <!-- Card -->
        <div class="m-2 w-full rounded-lg border border-gray-200 bg-white shadow dark:border-gray-700 dark:bg-gray-800 lg:w-1/5">
          <a href="#">
            <img class="rounded-t-lg object-cover" src="https://flowbite.com/docs/images/blog/image-1.jpg" alt="" />
          </a>
          <div class="p-4">
            <div class="mb-4">
              <a href="#" class="text-lg font-bold tracking-tight text-gray-900 dark:text-white">Physics Book Class 8</a>
              <br />
              <a class="font-normal text-gray-700 dark:text-gray-400">By Debobroto Sarkar</a><br />
              <a class="font-normal text-gray-700 dark:text-gray-400">ISBN: 9348939642</a><br />
            </div>
            <button
              class="mb-2 w-full rounded-lg border-2 border-gray-200 bg-white py-2 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700 lg:text-base"
            >
              Issue book
            </button>
            <button
              class="w-full rounded-lg bg-blue-700 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 lg:text-base"
            >
              View Details
            </button>
          </div>
        </div>
        <!-- END card -->
      </div>
    </div>
  </body>
</html>
